.sidebar__container {
    flex: 1;
    border-right: 0.5px solid var(--color-lightgray);
    min-height: 100vh;
    background: var(--color-white);

    .sidebar__top {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .logo {
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-primary);
        }
    }

    .sidebar__center {
        padding-left: 1rem;

        ul {
            list-style: none;

            .title {
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-darkgray);
                margin-top: 1.5rem;
                margin-bottom: 0.9rem;
            }
        li {
            display: flex;
            align-items: center;
            padding: 0.4rem;
            cursor: pointer;
            transition: var(--transition);

            &:hover {
                background: var(--color-lighthover);
            }

            .icon {
                font-size: 2rem;
                color: var(--color-primary);
                margin-right: 0.8rem;
            }

            span {
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--color-darkgray);
            }
        }
        }
    }
    .sidebar__bottom {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .colorOption {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: 0.1rem solid var(--color-primary);
        cursor: pointer;
        margin: 0.5rem;

        &:nth-child(1) {
            background: var(--color-white);
        }
        &:nth-child(2) {
            background: var(--color-dark-theme);
        }
        &:nth-child(3) {
            background: var(--color-blue-theme);
        }
    }
}