/* =========== IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,400&display=swap');


/* =========== BROWSRE DEFAULTS */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}


/* =========== VARIABLES */
:root {
    --color-primary: #6439ff;
    --color-lightgray: #d3d3d3;
    --color-darkgray: #8c8c8c;
    --color-white: #ffffff;
    --color-lighthover: #ece8ff;
    --color-red: #cd0000;
    --color-green: #009b00;
    --color-dark-theme: #333;
    --color-blue-theme: #0b006a;

    --transition: all 0.2s ease-out;
    
}


/* =========== GENERAL */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;;
}

hr {
    height: 0;
    border: 0.5px solid var(--color-lightgray);
}